<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap5.min.css') }}">
    <title>HAPROXY LB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tooltips.css') }}">
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fontAwesome.css') }}"> -->

</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div id="titlehead" class="sidebar-heading border-bottom bg-light">
                <p class="ptag" style="font-weight: bold;align-items: center;margin-left: 15%;">Configure LB</p>
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/global">Global</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/default">Defaults</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/backend">Backend</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                    href="/frontend">Frontend</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" id="acl" href="#">ACL</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                    href="/backend_switching_rule">Swiching rules</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/stats">Stats</a>
                <br />
                <br />
                <br />

                <a class="btn btn-primary" href="/deploy_config" id="finalSubmit">Final Submit</a>

            </div>
        </div>
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <!-- <button class="navbar-toggler-icon " id="sidebarToggle"></button>
                    <div id="panel-heading" class="Lbsetting"> HA-PROXY CONFIGURE MANAGEMENT </div> -->
                    <div class="centered-container">
                        <div class="NavigationToggleBar">
                            <!-- <div> -->
                            <button class="custom-navbar-toggler" id="sidebarToggle">
                                <img src="{{ url_for('static', filename='/chevron-left.svg') }}" id="chevronIcon">
                            </button>
                            <!-- </div> -->
                        </div>
                        <div id="panel-heading" class="Lbsetting"> HA-PROXY CONFIG MANAGER </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" id="titlehead" href="/">Home</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" id="titlehead">Options</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenu">
                                    <li>
                                        <a class="dropdown-item" href="/global">Configure LB</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/current_haproxy">Current Config-view</a>

                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/list_config">Deployment history</a>

                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">HA Proxy Actions </a>
                                        <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
                                            <li>
                                                <a class="dropdown-item" id="restartButton" href="/">Restart HA
                                                    Proxy</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" id="stopButton" href="/">Stop HA Proxy</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" id="startButton" href="/">Start HA Proxy</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/journal">HA Proxy Journal Logs</a>

                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Help </a>
                                        <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
                                            <li>
                                                <a class="dropdown-item" id="restartButton" href="#">About</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" id="stopButton" href="#">SOP</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" id="startButton" href="#">FAQ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </ul>
                            </li>
                            <li class="nav-item active"><a class="nav-link" id="titlehead" href=""> <span
                                        class="far fa-user p-2"></span>{{ session.get('user_name') }}</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <br />
            <h3 style="margin-left: 1%;">ACL Rules</h3>
            <div class="container mt-3">
                <!-- <button class="faq-button" style="float: right;" id="popupBtn">?</button>

                <div id="popup" class="popup">
                    <span class="close">&times;</span>
                    <h4>Criterion:</h4>
                    <span class="popup-content">Defines a condition or rule within an ACL to match specific attributes
                        or patterns in a request. Eg. Choosing back-ends, Blocking malicious requests, etc...</span>

                </div> -->

                <form>
                    <div id="aclContainer"></div>

                </form>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="margin-top: 1cm;padding-bottom: 1cm;">
                <button id="next" type="button" class="btn btn-primary">
                    <a href="/frontend" style="color: white; text-decoration: none;">Previous</a>
                </button>
                <button class="btn btn-primary" type="submit" id="submitBtn">Save</button>
                <button id="next" type="button" class="btn btn-primary">
                    <a href="/backend_switching_rule" style="color: white; text-decoration: none;">Next</a>
                </button>
            </div>
        </div>
    </div>
    <!--<pre id="jsonOutput"></pre>-->

    <script>

        var path = window.location.href;

        if (path.includes("acl")) {
            const aclLine_id = document.getElementById("acl");
            aclLine_id.style.backgroundColor = "rgb(231 231 231)";
        }

        var my_data = '{{ data }}';
        var newJsonData = [];

        const finalSubmitButton = document.getElementById('finalSubmit');
        finalSubmitButton.addEventListener('click', function (e) {
            e.preventDefault();
            const userConfirmed = confirm("Are you sure you want to submit?");
            if (userConfirmed) {
                window.location.href = '/deploy_config';
            }
        });
        // document.getElementById("popupBtn").addEventListener("click", function () {
        //     var popup = document.getElementById("popup");
        //     if (popup.style.display === "block") {
        //         popup.style.display = "none";
        //     } else {
        //         popup.style.display = "block";
        //     }
        // });

        // // Close the popup when clicking outside of it
        // window.addEventListener("click", function (event) {
        //     var popup = document.getElementById("popup");
        //     if (event.target !== popup && event.target !== document.getElementById("popupBtn")) {
        //         popup.style.display = "none";
        //     }
        // });
        function decodeEntities(encodedString) {
            const textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }

        function saveInputValues() {
            event.preventDefault();
            console.log("newJsonDaa", newJsonData);
            const requestData = JSON.stringify(newJsonData);
            console.log("requesteddata", requestData);
            var csrfToken = "{{ csrf_token() }}";
            var headers = new Headers();
            headers.append('Content-Type', 'application/json');
            headers.append('X-CSRFToken', csrfToken); // Include the CSRF token here

            fetch("/save_acl_rule", {
                method: "POST",
                headers: headers,
                body: requestData
            })
                .then(response => response.json())
                .then(data => {
                    console.log("message", data.error);
                    if (data.error == 0) {
                        alert('Data Saved');
                        location.reload();
                    }
                    else {
                        alert(data.message)
                    }
                })
                .catch(error => {
                    // Handle errors
                    alert("An error occurred while saving data");
                    // console.error("Error:", error);
                });

        }

        const decodedData = decodeEntities(my_data);
        const jsonData = JSON.parse(decodedData);

        console.log("jsondata", jsonData);

        var requiredIndex = 0;

        jsonData.map((x, Index) => {
            if (x.frontend.name == "f_new") {
                requiredIndex = Index
            }
        })


        const saveButton = document.getElementById("submitBtn");
        saveButton.addEventListener("click", saveInputValues);

        function addBindServers(ContainerDiv1, jsonIndex) {
            // console.log("it is working");
            const allaclContainer = document.createElement("tr");
            allaclContainer.style.backgroundColor = "rgb(205, 222, 228)";

            if (window.innerWidth > 1300) {
                allaclContainer.style.display = "flex";

            } else {
                allaclContainer.style.display = "flex";
                allaclContainer.style.backgroundColor = "rgb(205, 222, 228)";

            }
            // allaclContainer.style.justifyContent = "space-between";

            window.addEventListener('resize', function () {
                const innerWidth = window.innerWidth
                console.log("innerwidth", innerWidth);
                if (innerWidth > 1300) {
                    allaclContainer.style.display = "flex";
                    // allaclContainer.style.backgroundColor = "rgb(205, 222, 228)";

                    // allaclContainer.style.justifyContent = "space-between";
                }
                else {
                    allaclContainer.style.display = "flex";
                    allaclContainer.style.backgroundColor = "rgb(205, 222, 228)";

                }
            })
            newJsonData.push({ type: "new", frontend: "f_new", data: {} });

            const tableRow = document.createElement("tr");
            tableRow.style.backgroundColor = "rgb(205, 222, 228)";

            const aclInputCell = document.createElement("td");
            const aclNameInput = document.createElement("input");
            aclNameInput.type = "text";
            aclNameInput.placeholder = "Enter Acl Name"
            aclNameInput.classList.add("aclnewInput")

            aclNameInput.addEventListener('input', function () {
                event.preventDefault();
                jsonData[y].acl.data.acl_name = aclNameInput.value;
                newJsonData[newJsonData.length - 1].data.acl_name = aclNameInput.value;
            });
            aclInputCell.appendChild(aclNameInput);
            tableRow.appendChild(aclInputCell);

            const criterionSelectCell = document.createElement("td");

            const criterionSelect = document.createElement("Select");
            criterionSelect.name = "field";
            criterionSelect.classList.add("criterionInput");

            const option0 = document.createElement("option");
            option0.value = "Select";
            option0.text = "Select";
            const option1 = document.createElement("option");
            option1.value = "src";
            option1.text = "Source";
            const option2 = document.createElement("option");
            option2.value = "dst_port";
            option2.text = "Destination-port";
            const option3 = document.createElement("option");
            option3.value = "hdr(host)";
            option3.text = "Host";
            const option4 = document.createElement("option");
            option4.value = "req_ssl_ver";
            option4.text = "Ssl Version";
            const option5 = document.createElement("option");
            option5.value = "path_beg";
            option5.text = "Path begin with";
            const option6 = document.createElement("option");
            option6.value = "path_end";
            option6.text = "Path_end's with";
            const option7 = document.createElement("option");
            option7.value = "hdr_beg(host)";
            option7.text = "Host begin with";
            const option8 = document.createElement("option");
            option8.value = "hdr_end(host)";
            option8.text = "Host end's with";

            // criterionInput.value = jsonData2["criterion"];
            criterionSelect.addEventListener('input', function () {
                event.preventDefault();
                jsonData[y].acl.data.criterion = criterionSelect.value;
                newJsonData[newJsonData.length - 1].data.criterion = criterionSelect.value;
            });
            criterionSelect.appendChild(option0);
            criterionSelect.appendChild(option1);
            criterionSelect.appendChild(option2);
            criterionSelect.appendChild(option3);
            criterionSelect.appendChild(option4);
            criterionSelect.appendChild(option5);
            criterionSelect.appendChild(option6);
            criterionSelect.appendChild(option7);
            criterionSelect.appendChild(option8);

            criterionSelectCell.appendChild(criterionSelect);
            tableRow.appendChild(criterionSelectCell);


            const indexinputCell = document.createElement("td");

            const indexInput = document.createElement("input");
            indexInput.type = "number";
            indexInput.classList.add("indexnewInput")
            indexInput.setAttribute("readonly", true);
            indexInput.disabled=true;
            indexInput.value = newJsonData.length - 1;
            newJsonData[newJsonData.length - 1].data.index = newJsonData.length - 1


            indexInput.addEventListener('input', function () {
                jsonData[y].acl.data.index = indexInput.value;
                newJsonData[newJsonData.length - 1].data.index = parseInt(indexInput.value);
            });

            indexinputCell.appendChild(indexInput);
            tableRow.appendChild(indexinputCell);


            const valueinputCell = document.createElement("td");

            const valueInput = document.createElement("input");
            valueInput.type = "text";
            valueInput.placeholder = "Enter Value"
            valueInput.classList.add("aclnewInput")

            valueInput.addEventListener('input', function () {
                jsonData[y].acl.data.value = valueInput.value;
                newJsonData[newJsonData.length - 1].data.value = valueInput.value;
            });

            valueinputCell.appendChild(valueInput);
            tableRow.appendChild(valueinputCell);

            const removeButtonCell = document.createElement("td");
            removeButtonCell.classList.add("remove-btn");
            // removeButtonDiv.style.marginLeft = "3%";
            // removeButtonCell.style.marginLeft = "4%";
            // removeButtonCell.style.marginTop = "1.5%";
            const removeBindButton = document.createElement('button');
            removeBindButton.classList.add('fas', 'fa-trash', 'fa-sm');
            removeBindButton.classList.add('btn', 'btn-danger', 'mb-2');
            removeBindButton.classList.add('btn', 'btn-danger', 'remove-btn');


            removeBindButton.addEventListener('click', function () {
                event.preventDefault();
                newJsonData.pop();
                var csrfToken = "{{ csrf_token() }}";
                var headers = new Headers();
                headers.append('Content-Type', 'application/json');
                headers.append('X-CSRFToken', csrfToken);
                fetch('/delete_acl_rule', {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify({ frontend: "f_new", index: indexInput.value }), // Send the backend name to delete
                })
                    .then(response => {
                        if (response.status === 200) {
                            alert("Acl deleted successfully");
                            window.location.reload(true);
                            // Handle any UI updates as needed
                            // console.log("frontendName", secondnewJsonData[i].data.name, "BindName", inputfield1a.value);
                        } else if (response.status === 404) {
                            // Backend not found
                            // Handle error
                            console.error('acl not found');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle other errors
                    });

                // newJsonData[i].bind.splice(j, 1);
                ContainerDiv1.removeChild(allaclContainer);
            });
            removeButtonCell.appendChild(removeBindButton);
            tableRow.appendChild(removeButtonCell);

            ContainerDiv1.appendChild(tableRow);

            const breakpoint = document.createElement("br");


        }

        const frontend = jsonData;
        var y = 0;
        frontend.map((x, index) => {
            if (x.frontend.name === "f_new") {
                y = index;
            }
        })


        for (let i = 0; i < 1; i++) {

            const totalContainer = document.getElementById("aclContainer");
            const wholeContainer = document.createElement('div');
            const containerDiv = document.createElement('div');

            const addButtonDiv = document.createElement("div");
            addButtonDiv.classList.add("add-btnclass");
            const addBindButton = document.createElement('i');
            addBindButton.classList.add("add-btn");
            addBindButton.textContent = '+Add acl';
            addBindButton.classList.add('btn', 'btn-primary', 'mb-2');
            // console.log("it is working ");
            addButtonDiv.appendChild(addBindButton);
            containerDiv.appendChild(addButtonDiv);


            addBindButton.addEventListener('click', function () {
                event.preventDefault();
                window.scrollTo(0, 10000);
                console.log("it is working here ");
                containerDiv.appendChild(aclTable);
                addBindServers(aclTable, i);
            });

            const acl = jsonData[i].acl;

            let forfrontendindex = 0;
            const totalFrontendContainer = document.createElement("div");
            // totalFrontendContainer.classList.add("frontend-container");
            totalFrontendContainer.style.display = "flex";

            const frontendLabelDiv = document.createElement("div");
            frontendLabelDiv.classList.add("frontend-label");

            const frontendLabel = document.createElement('label');
            frontendLabel.textContent = "FrontEnd : ";
            frontendLabel.classList.add("fronendLabel");

            frontendLabelDiv.appendChild(frontendLabel);

            const FrontendInputDiv = document.createElement("div");
            // FrontendInputDiv.style.marginLeft = "2%";
            // FrontendInputDiv.style.marginRight = "2%";

            const frontendInput = document.createElement("input");
            frontendInput.type = "text";
            frontendInput.classList.add("frontend-input")
            frontendInput.disabled = true;
            frontendInput.value = jsonData[y].frontend.name

            FrontendInputDiv.appendChild(frontendInput);

            totalFrontendContainer.appendChild(frontendLabelDiv);
            totalFrontendContainer.appendChild(FrontendInputDiv);

            document.getElementById('aclContainer').appendChild(totalFrontendContainer);


            const aclTable = document.createElement('table');
            aclTable.id = 'acltable';
            aclTable.classList.add('table');
            const thead = document.createElement('thead');
            const headerRow = document.createElement('tr');
            const headerLabels = ['ACL Name ', 'Criterion', 'Index', 'Value'];
            // " Defines a condition or rule within an ACL to match specific attributes or patterns in a request.Eg.Choosing back - ends, Blocking malicious requests, etc..."

            // const headerContainer = document.createElement('div');
            // headerContainer.classList.add('header-container');

            // // Create labels for each header item
            // headerLabels.forEach(labelText => {
            //     const label = document.createElement('label');
            //     label.textContent = labelText;

            //     // Add event listener for showing tooltip on hover
            //     if (labelText === 'Criterion') {
            //         label.classList.add('criterionlabel', 'showinfo');
            //         label.setAttribute('data-tooltip', 'Defines a condition or rule within an ACL to match specific attributes or patterns in a request. Eg. Choosing back-ends, Blocking malicious requests, etc.');
            //     }

            //     headerContainer.appendChild(label);
            // });

            // Append the header container to the document body or any other desired element
            // document.body.appendChild(headerContainer);

            for (const label of headerLabels) {
                const th = document.createElement('th');
                th.classList.add('heardersforbind', 'showinfo');
                // th.setAttribute('data-tooltip', 'Defines a condition or rule within an ACL to match specific attributes or patterns in a request. Eg. Choosing back-ends, Blocking malicious requests, etc.');

                th.style.marginLeft = '20px';
                th.textContent = label + ' ';
                if (label === 'Criterion') {
                    th.setAttribute('data-tooltip', 'Defines a condition or rule within an ACL to match specific attributes or patterns in a request. Eg. Choosing back-ends, Blocking malicious requests, etc.');
                }
                headerRow.appendChild(th);
            }
            thead.appendChild(headerRow);
            aclTable.appendChild(thead);

            function handleDelete(event, i, j) {
                event.preventDefault();
                var csrfToken = "{{ csrf_token() }}";
                var headers = new Headers();
                headers.append('Content-Type', 'application/json');
                headers.append('X-CSRFToken', csrfToken);

                if (window.confirm("Are you want to delete")) {
                    fetch('/delete_acl_rule', {
                        method: 'POST',
                        headers: headers,
                        body: JSON.stringify({ frontend: "f_new", index: newJsonData[j].data.index }), // Send the backend name to delete
                    })
                        .then(response => {
                            if (response.ok) {

                                const table = document.getElementById('acltable');
                                table.deleteRow(i);
                                console.log("new", newJsonData[j]);
                                console.log("hhk", i);
                                delete newJsonData[j].data;
                                window.location.reload(true);
                                alert("acl deleted Successfully");
                            } else if (response.status === 404) {
                                console.error('Error:', response.statusText);

                            }
                        })
                        .then(jsonData => {
                            if (jsonData && jsonData.error !== undefined) {
                                if (jsonData.error === 1) {
                                    // Handle error with value 1
                                    alert("You are not sudo user!");
                                } else if (jsonData.error === 0) {
                                    alert("Acl deleted successfully");
                                    window.location.reload(true);
                                    // Handle any UI updates as needed
                                }
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            };
            function createDeleteButton(tableRow, i, j, containerDiv) {
                const removeButtonCell = document.createElement('td');
                const removeBindButton = document.createElement('button');
                removeBindButton.classList.add('fas', 'fa-trash', 'fa-sm');
                removeBindButton.classList.add('btn', 'btn-danger', 'mb-2');
                removeBindButton.classList.add('btn', 'btn-danger', 'remove-btn');

                removeBindButton.addEventListener('click', (event) => {
                    handleDelete(event, i, j);
                });
                removeButtonCell.appendChild(removeBindButton);
                tableRow.appendChild(removeButtonCell);
            }
            // containerDiv.removeChild(allaclContainer);



            if (jsonData[y].acl.data.length == 0) {
                document.getElementById('aclContainer').appendChild(containerDiv);

            }

            for (let j = 0; j < jsonData[y].acl.data.length; j++) {


                newJsonData.push({ type: "old", data: {} });

                const totalFrontendContainer = document.createElement("div");
                totalFrontendContainer.classList.add("frontend-container");

                const frontendLabelDiv = document.createElement("div");
                frontendLabelDiv.classList.add("frontend-label");

                const frontendLabel = document.createElement('label');
                frontendLabel.textContent = "FrontEnd : ";
                frontendLabel.classList.add("fronendLabel");

                frontendLabelDiv.appendChild(frontendLabel);

                const FrontendInputDiv = document.createElement("div");
                // FrontendInputDiv.style.marginLeft = "2%";
                // FrontendInputDiv.style.marginRight = "2%";

                const frontendInput = document.createElement("input");
                frontendInput.type = "text";
                frontendInput.classList.add("frontend-input")
                frontendInput.disabled = true;
                frontendInput.value = jsonData[y].frontend.name

                FrontendInputDiv.appendChild(frontendInput);

                totalFrontendContainer.appendChild(frontendLabelDiv);
                totalFrontendContainer.appendChild(FrontendInputDiv);

                // newJsonData[i].frontend = {};
                newJsonData[j].frontend = jsonData[y].frontend.name;

                frontendInput.addEventListener('input', function () {
                    event.preventDefault();
                    // newJsonData[i].frontend.name = frontendInput.value
                    newJsonData[i].frontend = frontendInput.value;

                })

                const allaclContainer = document.createElement("div");

                if (window.innerWidth > 1300) {
                    allaclContainer.style.display = "flex";
                    allaclContainer.style.backgroundColor = "rgb(205, 222, 228)";

                } else {
                    allaclContainer.style.display = "flex";
                    allaclContainer.style.backgroundColor = "rgb(205, 222, 228)";

                }

                window.addEventListener('resize', function () {
                    const innerWidth = window.innerWidth
                    console.log("innerwidth", innerWidth);
                    if (innerWidth > 1300) {
                        allaclContainer.style.display = "flex";
                        allaclContainer.style.backgroundColor = "rgb(205, 222, 228)";
                        // allaclContainer.style.justifyContent = "space-between";
                    }
                    else {
                        allaclContainer.style.display = "flex";
                        allaclContainer.style.backgroundColor = "rgb(205, 222, 228)";

                    }
                })

                const tableRow = document.createElement('tr');
                tableRow.style.backgroundColor = "rgb(205, 222, 228)";
                tableRow.style.borderRadius = "8px";

                const aclInputCell = document.createElement("td");
                aclInputCell.style.marginLeft = "2%";
                aclInputCell.style.marginRight = "2%";

                const aclNameInput = document.createElement("input");
                aclNameInput.type = "text";
                aclNameInput.classList.add("aclnewInput")



                aclNameInput.value = jsonData[y].acl.data[j] ? jsonData[y].acl.data[j].acl_name : "NUll";

                newJsonData[j].data.acl_name = jsonData[y].acl.data[j] ? jsonData[y].acl.data[j].acl_name : "NUll";
                aclNameInput.addEventListener('input', function () {
                    newJsonData[j].data.acl_name = aclNameInput.value;
                });
                aclInputCell.appendChild(aclNameInput);
                tableRow.appendChild(aclInputCell);


                const criterionSelectDiv = document.createElement("td");
                criterionSelectDiv.style.marginLeft = "2%";
                criterionSelectDiv.style.marginRight = "2%";

                const criterionSelect = document.createElement("select");
                criterionSelect.name = "field";
                criterionSelect.classList.add("criterionInput");

                const apiValue = jsonData[y].acl.data[j].criterion;
                criterionSelect.value = apiValue;

                const option0 = document.createElement("option");
                option0.value = "Select";
                option0.text = "Select";
                const option1 = document.createElement("option");
                option1.value = "src";
                option1.text = "Source";
                const option2 = document.createElement("option");
                option2.value = "dst_port";
                option2.text = "Destination-port";
                const option3 = document.createElement("option");
                option3.value = "hdr(host)";
                option3.text = "Host";
                const option4 = document.createElement("option");
                option4.value = "req_ssl_ver";
                option4.text = "SSL Version";
                const option5 = document.createElement("option");
                option5.value = "path_beg";
                option5.text = "Path begin with";
                const option6 = document.createElement("option");
                option6.value = "path_end";
                option6.text = "path_end's with";
                const option7 = document.createElement("option");
                option7.value = "hdr_beg(host)";
                option7.text = "host begin with";
                const option8 = document.createElement("option");
                option8.value = "hdr_end(host)";
                option8.text = "host end's with";


                // newJsonData[j].data.criterion = "src";
                console.log("testpurpose", jsonData[y])

                newJsonData[j].data.criterion = jsonData[y].acl.data[j].criterion;
                console.log("Before setting the value");
                criterionSelect.value = jsonData[y].acl.data[j].criterion;

                console.log("certion value", criterionSelect.value);

                console.log("Value from jsonData", jsonData[y].acl.data[j].criterion);

                criterionSelect.addEventListener('change', () => {
                    event.preventDefault();
                    //  console.log("Select changed to: ", criterionSelect.value)
                    newJsonData[j].data.criterion = criterionSelect.value;

                });
                criterionSelect.appendChild(option0);
                criterionSelect.appendChild(option1);
                criterionSelect.appendChild(option2);
                criterionSelect.appendChild(option3);
                criterionSelect.appendChild(option4);
                criterionSelect.appendChild(option5);
                criterionSelect.appendChild(option6);
                criterionSelect.appendChild(option7);
                criterionSelect.appendChild(option8);
                for (let option of criterionSelect.options) {
                    if (option.value === apiValue) {
                        option.selected = true;
                    }
                }
                criterionSelectDiv.appendChild(criterionSelect);
                tableRow.appendChild(criterionSelectDiv);


                const indexinputDiv = document.createElement("td");
                indexinputDiv.style.marginLeft = "2%";
                indexinputDiv.style.marginRight = "2%";

                const indexInput = document.createElement("input");
                indexInput.type = "number";
                indexInput.id="indexinputbg"
                // indexInput.classList.add("index-input");
                indexInput.classList.add("indexnewInput");
                indexInput.setAttribute("readonly", true);
                indexInput.disabled=true;

                indexInput.value = jsonData[y].acl.data[j].index;

                newJsonData[j].data.index = parseInt(jsonData[y].acl.data[j].index);
                // newJsonData[i].data.index=parseInt(jsonData2["index"]);

                indexInput.addEventListener('input', function () {
                    jsonData[y].acl.data[j].index = indexInput.value;
                    newJsonData[j].data.index = parseInt(indexInput.value);
                    // newJsonData[i].data.index=parseInt(indexInput.value);
                });

                indexinputDiv.appendChild(indexInput);
                tableRow.appendChild(indexinputDiv)


                const valueinputDiv = document.createElement("td");
                valueinputDiv.style.marginLeft = "2%";
                valueinputDiv.style.marginRight = "2%";

                const valueInput = document.createElement("input");
                valueInput.type = "text";
                // valueInput.classList.add("value-input");
                valueInput.classList.add("aclnewInput")

                valueInput.value = jsonData[y].acl.data[j].value;
                newJsonData[j].data.value = jsonData[y].acl.data[j].value;

                valueInput.addEventListener('input', function () {
                    jsonData[y].acl.data[j].value = valueInput.value;
                    newJsonData[j].data.value = valueInput.value;
                    // newJsonData[i].data.value=valueInput.value;
                });

                valueinputDiv.appendChild(valueInput);
                tableRow.appendChild(valueinputDiv);

                // const removeButtonDiv = document.createElement("td");
                // removeButtonDiv.classList.add("remove-btn");

                // const removeBindButton = document.createElement('button');
                // // removeBindButton.textContent = '-';
                // removeBindButton.classList.add('fas', 'fa-trash', 'fa-sm');
                // removeBindButton.classList.add('btn', 'btn-danger', 'mb-2');
                // removeBindButton.classList.add('btn', 'btn-danger', 'remove-btn');
                // // removeBindButton.classList.add('btnnew', 'btn-danger', 'mb-2', 'remove-button');
                // removeButtonDiv.appendChild(removeBindButton);


                // removeBindButton.addEventListener('click', function () {
                //     event.preventDefault();
                //     var csrfToken = "{{ csrf_token() }}";
                //     var headers = new Headers();
                //     headers.append('Content-Type', 'application/json');
                //     headers.append('X-CSRFToken', csrfToken); // Include the CSRF token here

                //     if (window.confirm("Are you want to delete")) {
                //         fetch('/delete_acl_rule', {
                //             method: 'POST',
                //             headers: headers,
                //             body: JSON.stringify({ frontend: "f_new", index: indexInput.value }), // Send the backend name to delete
                //         })
                //             .then(response => {
                //                 if (response.status === 200) {
                //                     return response.json();
                //                 } else if (response.status === 404) {
                //                     console.error('backend not found');
                //                 }
                //             })
                //             .then(jsonData => {
                //                 if (jsonData && jsonData.error !== undefined) {
                //                     if (jsonData.error === 1) {
                //                         // Handle error with value 1
                //                         alert("You are not sudo user!");
                //                     } else if (jsonData.error === 0) {
                //                         alert("Acl deleted successfully");
                //                         window.location.reload(true);
                //                         // Handle any UI updates as needed
                //                     }
                //                 }
                //             })
                //             .catch(error => {
                //                 console.error('Error:', error);
                //             });
                //         containerDiv.removeChild(allaclContainer);
                //     }
                // });

                // aclTable.appendChild(tableRow);
                const breakpoint = document.createElement("br");

                if (forfrontendindex == 0) {
                    forfrontendindex++;
                }
                aclTable.appendChild(tableRow);
                // allaclContainer.appendChild(removeButtonDiv);
                createDeleteButton(tableRow, i, j, containerDiv);

                // tableRow.appendChild(removeButtonDiv);
                containerDiv.appendChild(aclTable);


                document.getElementById('aclContainer').appendChild(containerDiv);
            }

        }

        // JavaScript code to handle form submission and JSON creation
        // document.getElementById("submitBtn").addEventListener("click", function () {
        // Get form data

        // [{ "type":"new", "frontend": "" ,"data" = {} },{}] is-blocked-ip
        // backend name cannot be edited
        data = [
            {
                "type": "old",
                "frontend": "f_new",
                "data": { "value": "/api2", "criterion": "path", "acl_name": "is-blocked-ip", "index": 0 }
            }
        ];

        data = { "frontend": "f_new", "index": 0 };

        function showAlertAndRedirect() {
            // Show an alert
            //alert('Do you want to Deploy config?');
            if (confirm("Confirm Changes?") == true) {
                window.location.href = '/deploy_config';
            } else {
                text = "You canceled!";
            }

            // Redirect to another page
        }


    </script>
    <script src="../static/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


</body>

</html>